@use "variaveis";

.shows { //section
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__tabs {// nav
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 60px;
            gap: 16px;
        }

        &__button {
            background: none;
            border: none;
            border-bottom: 5px solid transparent;
            color: variaveis.$corTextoSecundario;
            cursor: pointer;
            font-size: 20px;
            margin: 0 1vw;
            padding-bottom: 5px;
            text-transform: uppercase;
            transition: border ease-in-out .5s;

            &--is-active {
                border-color: variaveis.$corTextoPrincipal;
            }
            
            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }


    &__list { // ul
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-top: 44px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        &--is-active {
            display: grid;
            animation: list-show .5s;
            -webkit-animation: list-show .5s;
        }
        @keyframes list-show {
            0% { opacity: 0; }
            // 25% { opacity: .25; }
            75% { opacity: .75; }
            100% { opacity: 1; }
        }

        &__item { // li
            list-style: none;

            img {
                border-radius: 4px;
                max-width: 100%
            }
        }
    }

}