@use "hero";
@use "variaveis";
@use "shows";
@use "plans";


@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Avenir-Bold.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/Avenir-Bold.woff2");
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family:  "Avenir", sans-serif;
    margin: 0;
    padding: 0;
}

@mixin text ($fontSize: 16px) {
    font-size: $fontSize;
    line-height: calc($fontSize + 10px);
    color: variaveis.$corTextoPrincipal;
}
@mixin title ($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}
.text {
    @include text;
}
.text--small {
    @include text(12px)
}

.title--big {
    @include title(44px);
}
.title {
    @include title;
}
.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

body {
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corTextoPrincipal;
    @include text(20px)
}

.button {
    background-color: #6421ff;
    border-radius: 4px;
    color: variaveis.$corTextoSecundario;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 60px;
    margin-top: 2vw;
    margin-bottom: 8px;
    text-transform: uppercase;
    width: 100%;
}

a.button {
    background-color: #6421ff;
    border-radius: 4px;
    color: variaveis.$corTextoSecundario;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 60px;
    margin-top: 2vw;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}
